
<div class="bg">

		<icons id="icons" (change)="stop()"></icons>
    	<!-- Change the .mp3 to a file local to your computer -->
	<!--	<audio id="music" src="Coffee.mp3"></audio>  -->
<!--	<input type="file" id="input" />
	<audio id="music"></audio>
-->
	<ul id="music" style="display:none;">
		<li class="active" song="Coffee.mp3"><Audio id="first" class="song" src="assets/sounds/Coffee.mp3"></Audio></li>
		<li song="Zzz.mp3"><Audio id="second" class="song" src="assets/sounds/Dreams.mp3"></Audio></li>
	</ul>
	<!-- Player Container -->
	<div class="player-container">
		<!-- Canvas -->
		<div id=canvasContainer>
			<canvas id="Canvas"></canvas>
		</div>

		<!-- Logo -->
		<div class="logo">
			<img src="assets/images/speakers.jpeg" alt="speakers">
		</div>

		<!-- Player -->
		<div class="player">
			<select id="color" name="color">
				<option value="red">Red</option>
				<option value="blue">Blue</option>
				<option value="black">Black</option>
			</select>

			<div id="songTitle" class="song-title">song title</div>
			<input type="range" id="songSlider" class="slider" min="0" max="1" step="0.01" />
			<div>
				<div id="currentTime" class="time">0:00</div>
				<div id="duration" class="duration">0:00</div>
			</div>

			<!-- Controls -->
			<div class="controls">
				<div class="btn-group">
					<div id="playbtn">
						<i id="play" class="btn btn-outline-secondary fa fa-play" aria-hidden="true"></i>
					</div>
					<div id="stopbtn">
						<i class="btn btn-outline-secondary fa fa-stop" aria-hidden="true"></i>
					</div>
					<div id="next">
						<i class="btn btn-outline-secondary fa fa-arrow-right" aria-hidden="true"></i>						
					</div>
				</div>
				<div class="volumeBar">
					<i class="volIconDown fa fa-volume-off" aria-hidden="true"></i>
					<i class="volIconUp fa fa-volume-up" aria-hidden="true"></i>
					<input type="range" id="audioSlider" class="audioSlider" min="0" max="1" step="0.01" ondrag="adjustVolume()" onchange="adjustVolume()"
					/>
				</div>
			</div>
		</div>
	</div>